// Mixins Here
.spacing {
    padding: 15px;
}

.width {
    width: 100%;
}



//Parametric Mixins
.flex-layout(@j, @a) {
    justify-content: @j;
    align-items: @a;
}

.margin(@mt, @mb) {
    margin-top: @mt;
    margin-bottom: @mb;
}

.btn-color(@bc, @tc) {
    background-color: @bc;
    color: @tc;
}

.btn-styling(@w, @p, @br) {
    width: @w;
    padding: @p;
    border-radius: @br;
}