// Navigation code here
.navigation {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;  

    .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;

        h1 {
            padding: 15px;
        }

        nav {
            padding: 15px;
            width: 70%;
            text-align: center;

            a {
                font-size: 1.6rem;
                margin: 0 2%;
                text-decoration: none;
                color: @main-font-color;
            }
        }
    }
    
}